<!-- code -->
<div class="peach-div custom-width">
  <div class="container-lg">
    <div class="d-flex justify-content-between blogs">
      <div class="">
        <h4 class="another-margin">Blogs</h4>
      </div>
      <div class="d-flex align-items-center">
        <h6 class="add-margin pe-2">Home</h6>
        <img
          src="assets/blog-images/Polygon 5.png"
          alt=""
          class="img-right pe-4 mb-1"
        />
        <h6 class="margin">Blogs</h6>
      </div>
    </div>
  </div>
</div>
