/* .form-container{

} */
.title,
.form-label{
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
  margin-bottom: 15px;
}
.wrapper{
  font-family: "Montserrat";
}


.form-check-label,
.input-group-text{
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0em;
}

.form-control{
  width: 100%;
  border-radius: 0%;
}
#inputDescription{
  height: 154px;
}

.input-group-text{
  background-color: #FDA47A;
  color: #FFFFFF;
  height: 26px;
  border: none;
  border-radius: 0%;
}
.file-control{
  height: 32px;
}

.primary-button{
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  width: 88px;
  height: 45px;
}


  @media screen and (max-width: 450px) {
  .side-bar{
    width: 275.11px;
  }

  .form-container{
    width: 100%;
  }

  .form-control{
    width: 100%;
    border-radius: 0%;
  }
}
