.container {
  width: 744px;
  height: 586px;
  font-family: "Montserrat";
}
h4 {
  font-family: "Montserrat";
}
.custom-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: var(--primary-color);
  /* font-size: 100px; */
  color: #fff;
}
.custom-font {
  font-size: 100px;
  color: #fff;
  width: 100%;
  height: 100%;
}
.custom-h {
  height: 50px;
}
.text-custom {
  font-family: "Montserrat";
  color: var(--primary-color);
}
.btn-custom {
  background-color: var(--primary-color);
  color: #fff;
  width: 100%;
  height: 50px;
}
@media screen and (max-width: 320px) {
  .container {
    height: 500px;
    width: 100%;
    margin: 0 auto;
  }
  .custom-circle{
    width: 80px;
    height: 80px;
  }
  .custom-font{
    font-size: 80px;
  }
  .padlock{
    width: 80px;
    height: 80px;
  }
  .padlock img{
    width: 100%;
    height: 100%;
  }
  .btn-custom{
    height: 33px;
    font-size: 12px;
  }
  .custom-h{
    height: 33px;
    font-size: 12px;
  }
  .text-size{
    font-size: 12px;
  }
}
