<router-outlet></router-outlet>
<footer class="footer">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-3 mb-3 mt-4 mb-md-0 d-flex">
        <img src="assets/Images/logo/logo.png" alt="icon" class="recipe-logo img-fluid">
      </div>
      <div class="list-items col-md-9 mt-5">
        <div class="row">
          <div class="col-md-3">
            <div class="recent-categories-title mx-3">Recent categories</div>
            <div class="flexed-lists">
              <ul>
                <li>Category6</li>
                <li>Category4</li>
                <li>Category5</li>
                <li>Tea</li>
                <li>Bread</li>
                <li>Pork</li>
                <li>Cookies</li>
                <li>Ice Cream</li>
              </ul>
              <ul class="mx-2">
                <li>Coffee</li>
                <li>Category6</li>
                <li>Category6</li>
                <li>Pasta</li>
                <li>Category6</li>
                <li>Cupcakes</li>
                <li>Category</li>
                <li>Shrimp</li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="recent-categories-title mx-3">Latest Blogs</div>
            <div class="flexed-lists">
              <ul>
                <li>Make your own bread</li>
                <li>How to be healthy</li>
                <li>Make your own bread</li>
                <li>How to decorate cake</li>
                <li>Make a party</li>
                <li>How to make shrimp</li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="recent-categories-title mx-3">Latest Recipes</div>
            <div class="flexed-lists">
              <ul>
                <li>Kids recipe</li>
                <li>Garlic shrimps</li>
                <li>Happy shrimps</li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="recent-categories-title mx-3">Links</div>
            <div class="flexed-lists">
              <ul>
                <li>Home</li>
                <li>Recipes</li>
                <li>Blogs</li>
                <li>Contact Us</li>
                <li>Login/Register</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-4">
    
    <div class="newsletter-container" style="margin-left: 300px;">
      <h4 class="newsletter-title">NEWSLETTER</h4>
      <div class="d-flex align-items-center">
        <p class="newsletter-description">Sign up to receive email updates on new recipes</p>
      <form class="newsletter-form" action="#" method="post" class="mx-3 mb-3">
          <input type="email" id="emailInput" placeholder="Your email address" required>
          <button type="submit" id="submitButton">SUBSCRIBE</button>
      </form>
      </div>
    </div>
    
  </div>
</footer>