<div class="wrapper">
  <section class="w-100 hero-section position-relative">
    <nav class="navbar navbar-expand-lg nava">
      <div class="container my-2 header-container">
        <a class="navbar-brand d-flex" href="#">
          <img
            class="brand-logo pe-2"
            src="../../assets/images/recipe_logo.png"
          />
          <div class="d-flex flex-column p-0 logo-name fw-bold">
            <span class="fs-3 logo-name-recipe p-0">Recipe</span>
            <p class="fs-5 p-0">Mania</p>
          </div>
        </a>

        <div
          class="hamburger container d-flex align-items-center justify-content-between d-lg-none fw-bold"
        >
          <p class="mt-3">MENU</p>
          <button
            (click)="showMenu()"
            class="navbar-toggler ms-auto"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div
          class="nav-menu"
          id="navbarSupportedContent"
          *ngIf="!isMobile || toggle"
        >
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fw-bold cursor-pointer">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              
              >
                Categories
              </a>
              <div class="categories dropdown-menu" aria-labelledby="categoriesDropdown">
                <app-categories ></app-categories>
              </div>
            </li>
            <li class="nav-item">
              <a routerLink="/layouts/recipe" class="nav-link">Recipes</a>
            </li>
            <li class="nav-item">
              <a routerLink="/layouts/blogs" class="nav-link">Blogs </a>
            </li>
            <li class="nav-item">
              <a routerLink="/layouts/contactus" class="nav-link">Contact Us</a>
            </li>
            <li (click)="loginModaltoggle(true)" class="nav-item">
              <a class="nav-link cursor-pointer">Login/Register</a>
            </li>
          </ul>
        </div>
      </div>

  <!-- <div *ngIf="categoriesShow" class="categories position-absolute">
    <app-categories></app-categories>
  </div> -->
</nav>

    <div class="orange-bgd">
      <img
        class="d-none d-lg-block"
        src="../../assets/images/orange-background.png"
        alt="background"
      />
      <img
        class="d-lg-none"
        src="../../assets/images/orange-background-desktop.png"
      />
    </div>

    <div class="d-flex custom-top position-absolute">
      <div class="w-md-50 hero-text">
        <p>
          Discover the best <br />
          recipes with us
        </p>
      </div>
      <div class="dish">
        <img class="img-fluid" src="/assets/images/pot_of_vegies.png" />
      </div>
    </div>
  </section>

  <app-modal [isOpen]="loginModalOpen" (isClose)="loginModaltoggle(false)">
    <app-login></app-login>
  </app-modal>

  <!-- Browse Section -->
  <section class="browse">
    <div class="row g-4 browse-all-nav">
      <div class="col-12 col-lg-6 fs-4 fw-bold">
        <p>Browse Our Latest</p>
        <p style="color: #fda47a">Recipe</p>
      </div>
      <div class="col-12 col-lg-6">
        <div
          class="see-all-button ms-lg-auto d-flex align-items-center justify-content-between"
        >
          <p class="ps-3 mt-2">See All</p>
          <div class="arrow-container">
            <mat-icon class="keyboard z-index-2">arrow_right_alt</mat-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="browse-recipes mt-5">
      <div class="" *ngFor="let recipe of recipes">
        <div class="recipe-container">
          <div>
            <img class="img-fluid recipe-img" src="{{ recipe.img }}" />
          </div>

          <div class=" recipe-name w-100">{{ recipe.recipe_name }}</div>

          <div class="d-flex align-items-center">
            <div>
              <img src="assets/images/pfp.png" />
            </div>
            <p class="ps-3">{{ recipe.user_name }}</p>
          </div>
          <div class="p-3 ps-5 star-rating">
            <ng-container *ngFor="let _ of filledStars; let i = index">
              <mat-icon class="star-icon">star</mat-icon>
            </ng-container>
            <ng-container *ngFor="let _ of emptyStars; let i = index">
              <mat-icon class="star-icon">star_border</mat-icon>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Popular Recipe -->
  <section class="container popular-recipe">
    <p class="fs-4 fw-bold">
      Most Popular <span style="color: #fda47a">Recipe</span>
    </p>

    <div class="popular-container">
      <div class="" *ngFor="let pop of pop_recipe">
        <div class="d-flex gap-1 gap-lg-3">
          <div class="popular-image">
            <img src="{{ pop.img }}" alt="" />
          </div>

          <div class="popular-text">
            <p>{{ pop.recipe_name }}</p>
            <p>View Recipes</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Popular Authors -->
  <section class="container my-5">
    <p class="fs-4 fw-bold">
      Popular <span style="color: #fda47a">Authors</span>
    </p>
    <div class="row g-3 px-3 px-lg-0 py-2 py-lg-5">
      <div class="col-12 col-md-4" *ngFor="let author of authors">
        <div class="author-container">
          <div class="authorImage w-50">
            <img
              class="w-100 w-lg-75 img-fluid"
              src="assets/images/authors/{{ author.image }}"
            />
          </div>
          <div class="w-50">
            <div>{{ author.author_name }}</div>
            <div class=" star-rating">
              <ng-container *ngFor="let _ of filledStars; let i = index">
                <mat-icon class="star-icon">star</mat-icon>
              </ng-container>
              <ng-container *ngFor="let _ of emptyStars; let i = index">
                <mat-icon class="star-icon">star_border</mat-icon>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Category Blog -->
  <section class="container h-100 py-5">
    <div class="d-flex flex-column-reverse flex-lg-row h-100">
      <div class="col-12 col-md-6">
        <p class="fs-3 fw-bold pb-2">Categories</p>
        <app-footcat></app-footcat>
      </div>
      <div class="col-12 col-md-6 blog">
        <p class="fs-3 fw-bold">Blog</p>
        <ul class="list-unstyled fs-4">
          <li>Make your own bread</li>
          <li class="vert-divider"></li>
          <li>How to decorate cookies</li>
          <li class="vert-divider"></li>
          <li>How to decorate cookies</li>
          <li class="vert-divider"></li>
          <li>How to make sushies</li>
          <li class="vert-divider"></li>
          <li>How to decorate cookies</li>
          <li class="vert-divider"></li>
          <li>How to decorate cookies</li>
          <li class="vert-divider"></li>
          <li>Make a party</li>
          <li class="vert-divider"></li>
          <li>How to be healthy</li>
          <li class="vert-divider"></li>
          <li>How to make cup cake</li>
          <li class="vert-divider"></li>
        </ul>
      </div>
    </div>
  </section>

  <app-socials></app-socials>
  <app-footer></app-footer>
</div>
