.custom-bg {
  background-color: var(--accent-color);
  /* padding: 0 200px 0 100px; */
  padding: 0 7vw 0 7vw;
  display: flex;
  justify-content: space-between;
  height: 50px;
}
.custom-bg h1 {
  font-family: "Montserrat";
}
.custom-cursor {
  cursor: pointer;
}
<<<<<<< HEAD
.another-margin {
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0em;
}

.another-margin-again {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0em;
}
/* .custom-fw{
  font-weight: lighter;
} */

@media only screen and(max-width:820px) {
  .custom-bg {
    width: 100%;

    /* padding: 0 100px 0 50px; */
    padding: 0;
  }
  .custom-bg::-webkit-scrollbar {
    display: none;
  }
}
=======
@media screen and (max-width: 450px) {
  .custom-bg{
    padding: 0 20px;
    height: 70px;
  }
  .custom-bg h1{
    font-size: 15px;
  }
}
>>>>>>> d584fd92c9970f18cebbe0f28164fef816c289cd
