.custom-bg {
  background-color: var(--accent-color);
  padding: 0 200px 0 100px;
  display: flex;
  justify-content: center;
  font-family: "Montserrat";
}
.custom-bg h1 {
  font-family: "Montserrat";
  margin: 0;
}
.custom-bg p{
  margin: 0;
}
.custom-cursor {
  cursor: pointer;
}
.another-margin {
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0em;
}

.another-margin-again {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0em;
}

@media only screen and(max-width:920px) {
  .custom-bg::-webkit-scrollbar,
  .responsive {
    display: none;
  }
}

@media only screen and(max-width:820px) {
  .custom-bg {
    width: 100%;

    /* padding: 0 100px 0 50px; */
    padding: 0;
  }

  .custom-bg::-webkit-scrollbar,
  .responsive {
    display: none;
  }
}
@media only screen and (max-width: 450px) {
  .custom-bg {
    padding: 0 20px;
    height: 70px;
  }
  .responsive {
    display: none;
  }

  .custom-bg h1 {
    font-size: 15px;
  }
}
