.custom-bg{
  background-color: var(--accent-color);
  padding: 0 200px 0 100px;
}
.custom-bg h1{
  font-family: 'Montserrat';
}
.custom-cursor{
  cursor: pointer;
}
@media screen and (max-width: 450px) {
  .custom-bg{
    padding: 0 20px;
    height: 70px;
  }
  .custom-bg h1{
    font-size: 15px;
  }
}