.container{
  width: 744px;
  height: 586px;
  font-family: 'Montserrat';
}
h4{
  font-family: 'Montserrat';
}
.custom-circle{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: var(--primary-color);
}
.custom-font{
  font-size: 100px;
  color: #fff;
  width: 100%;
  height: 100%;
}
.custom-h{
  height: 50px;
}
.text-custom{
  font-family: 'Montserrat';
  color: var(--primary-color);
}
.btn-custom{
  background-color: var(--primary-color);
  color: #FFF;
  width: 100%;
  height: 50px;
}
@media screen and (max-width: 450px) {
  .container{
    height: 500px;
    width: 100%;
  }
  .custom-h{
    height: 33px;
    font-size: 12px;
  }
  .btn-custom{
    height: 33px;
    font-size: 12px;
  }
  .custom-circle{
    width: 80px;
    height: 80px;
  }
  .custom-font{
    font-size: 80px;
  }
}
