.recipe-container{
	background-color: #FFFFFF;
	font-family: Montserrat;
	/* width: 1440px; */
}

.title{
  font-family: Montserrat;
  font-size: 35px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0em;
}
.search-wrapper{
	background-color: #E2DBDB;
  /* width:1440px; */
	height: 194px;
	padding-left: 25px;
}

.select-box{
	width: 441px;
	height: 71px;
	border-radius: 5px;
	border: 0px;
}

.search{
	 width: 692px;
	height: 71px;
	border-radius: 5px;
	border: 0px;
}

.search-button{
	background-color: #FDA47A;
	width: 82px;
	height: 71px;
	border: none;
	border-radius: 0px, 5px, 5px, 0px;
}
.search-button img{
	width: 70px;
	padding-right: 5px;
}

.categories-wrapper{
	background-color: #FDA47A;
	width: 1200px;
	height: 434px;
}

.all-recipe{
  font-family: Montserrat;
  font-size: 35px;
  font-weight: 500;
  height: 43px;
  letter-spacing: 0em;
  text-align: left;
}

.recipebox{
	background-color: #FFF5EC;
	width: 295.08px;
	height: 327px;
  border-radius: 25px;
  color: #282B30;

}

.image{
  font-size: 31px;
  font-weight: 500;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: left;
}

.profile{
  font-size: 23px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}



.star-icon {
  width: 16px;
  height: 16px;
  font-size:12px;
  cursor: pointer;
  color: #C4C4C4;
  border: none;
}

.page-link{
  color: #282B30;
  width: 50px;
  height: 50px;
  background-color: #C4C4C4;
}
.page-link:active{
  background-color: #FDA47A;
}
