.recipe-container{
    column-gap: 4em;
    row-gap: 2em;
}

.vert-divider {
    width: 100%;
    height: 1px;
    background-color: #f1eeee;

}

.icon-round-visibility,
.icon-round-edit,
.icon-round-delete {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
    color: white;
    font-size: 1.5em;
}

.recipe{
    transition: all .2s ease;
}

.recipe:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    cursor: pointer;
    transform: scale(1.02)
}

.recipe:hover .icon-round-visibility {
    background: rgb(102, 208, 102);
}

.recipe:hover .icon-round-edit {
    background: rgb(79, 79, 188);
}

.recipe .title {
    line-height: 20px;
}

.recipe:hover .icon-round-delete {
    background: rgb(249, 42, 42);
}

th{
    padding-right: 4em
}

td{
    
}

@media screen and (max-width: 768px) {
     .recipe-img{
        width: 100%;
    }

   .recipe-img img{
        width: 70%;
    }

    th{
        font-size: 0.75em;
        padding-right: 1em;

    }

    td{
        font-size: 0.75em;
        text-wrap: nowrap;
    }

    .icon-round-visibility,
    .icon-round-edit,
    .icon-round-delete {
    width: 16px;
    height: 16px;
    background-color: #ccc;
    border-radius: 50%;
    color: white;
    font-size: 2em;
}


    .recipe-icons{
        font-size: 0.5em;
    }

}