@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.wrapper {
 width: 290px;
 height: 100%;
 background: #FDA47A;
 font-family: 'Montserrat', sans-serif;
}

img {
 width: 20px;
 height: 20px;
}

.col {
 border: 1px solid rgba(255, 255, 255, 0.20);
 padding: 2px;
 text-align: center;
 transition: transform 0.3s ease-in-out; 
 cursor: pointer;
}

.col:hover{
 transform: scale(1.2);
}

.col p {
 font-size: 11px;
 color: #fff;
 padding-top: 5px;
 font-weight: 600;

}