<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mb-3 mt-4 mb-md-0 d-flex flex-column justify-content-center">
                <p class="heading">Stay With Us</p>
                <p class="sub-heading">Available on all your favorite socials </p>
            </div>
            <div class="social-icons col-md-7 mt-4  ">
              <div class="social-icon" style="background-color: #4267b2;">
                  <img src="assets/Images/Social-icons/Facebook.png" alt="Facebook">
              </div>
          
              <div class="social-icon" style="background-color: #00acee;">
                  <img src="assets/Images/Social-icons/Twitter.png" alt="Twitter">
              </div>
          
              <div class="social-icon" style="background-color: #fbc863;">
                  <img src="assets/Images/Social-icons/Instagram.png" alt="Instagram">
              </div>
          
              <div class="social-icon" style="background-color: #25d366;">
                  <img src="assets/Images/Social-icons/Whatsapp.png" alt="Whatsapp">
              </div>
          
              <div class="social-icon" style="background-color: #e60023;">
                  <img src="assets/Images/Social-icons/Youtube.png" alt="Youtube">
              </div>
          
              <div class="social-icon" style="background-color: #fbf800;">
                  <img src="assets/Images/Social-icons/Snapchat.png" alt="Snapchat">
              </div>
          
              <div class="social-icon" style="background-color: #ea4c89;">
                  <img src="assets/Images/Social-icons/Xbox.png" alt="Xbox">
              </div>
          
              <div class="social-icon" style="background-color: #ff0000; ">
                  <img src="assets/Images/Social-icons/pinterest.png" alt="pinterest">
              </div>
          
              <div class="social-icon" style="background-color: #ff5864;">
                  <img src="assets/Images/Social-icons/t-logo.png" alt="t-logo">
              </div>
          
              <div class="social-icon" style="background-color: #053eff;">
                  <img src="assets/Images/Social-icons/Be.png" alt="Be">
              </div>
          </div>
          
        </div>
    </div>
  </footer>
  