<nav class="navbar navbar-contain navbar-expand-lg">
  <div class="container-fluid">
    <div class="d-flex move-right-again">
      <img src="assets/blog-images/Group 138.svg" class="img-fluid" alt="" />
      <span class="move-right">
        <h3 class="recipe">Recipe</h3>
        <h4 class="mania">Mania</h4>
      </span>
    </div>

    <div
      class="hamburger d-flex w-100 justify-content-between d-lg-none align-items-center px-3"
    >
      <p class="title">Menu</p>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 make-margin">
        <li class="nav-item me-2">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item me-2">
          <span class="embed">
            <a class="nav-link" href="#">Categories</a>
            <img src="assets/blog-images/Vector.svg" alt="" class="img-right" />
          </span>
        </li>
        <li class="nav-item me-2">
          <a class="nav-link" href="#">Recipes</a>
        </li>
        <li class="nav-item me-2">
          <a class="nav-link" href="#">Blogs</a>
        </li>
        <li class="nav-item me-2">
          <a class="nav-link pad-this" href="#">Contact Us</a>
        </li>
        <li class="nav-item me-2">
          <a class="nav-link" href="#">Login/Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="mt-5">
  <app-title-block
    class=""
    [height]="60"
    [title]="'Make your own chicken'"
    [breadcrumbs]="[
      { label: 'Home', link: '/layouts/home' },
      { label: 'Blogs', link: '/layouts/blogs' },
      { label: 'Make your own chicken', link: '/layouts/blogs' }
    ]"
  ></app-title-block>
</div>

<div class="container-fluid margin-body">
  <div class="row">
    <div class="col-md-12">
      <div *ngFor="let blog of blogsData" class="blog-item">
        <div>
          <!-- row px-5 my-3 -->
          <div class="blog-meal row mb-1">
            <div class="px-5">
              <div class="meal-details col-sm-12">
                <div class="">
                  <h4 class="fs-sm-4 fs-md-4 fs-lg-2 fw-bold font-title fs-6">
                    {{ blog.title }}
                  </h4>
                  <div class="meal-details-dates d-flex mb-2 gap-1">
                    <div class="d-flex align-items-center text-wrap">
                      <!-- detail fs-5 d-flex align-items-center pe-2 -->
                      <mat-icon class="custom-icon-4">visibility</mat-icon>
                      <span class="fs">{{ blog.views }}</span>
                    </div>
                    <div class="detail d-flex align-items-center">
                      <mat-icon class="custom-icon-4">schedule</mat-icon>
                      <span class="fs">{{ blog.time }}</span>
                    </div>
                    <div class="detail d-flex align-items-center">
                      <mat-icon class="custom-icon-4">calendar_today</mat-icon>
                      <span class="fs fs-sm-6">Created : Feb 05, 2022</span>
                    </div>
                  </div>
                </div>
                <!-- main-img -->
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <img
                      src="assets/blog-images/img-1.png"
                      class="img-fluid w-100 h-100"
                      alt="Responsive Image"
                    />
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <p class="fs-6 p-1">{{ blog.description }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="mx-5">
        <p class="add-font">You may also like</p>
      </div>

      <div class="container">
        <div
          class="d-flex align-items-center justify-content-around flex-column gap-5 flex-lg-row responsive-margin"
        >
          <div class="add-width-again">
            <div class="card add-color">
              <div class="px-3 my-3 add-radius">
                <img
                  src="assets/blog-images/Rectangle 534.svg"
                  class="add-img-width img-fluid"
                  alt="e no dey here"
                />

                <h2 class="card-title">Chicken</h2>

                <div class="card-text d-flex align-items-center mb-3 gap-2">
                  <div>
                    <img src="assets/blog-images/Ellipse 54.svg" alt="" />
                  </div>
                  <div class="change-font">Bambam</div>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                  <div>
                    <img src="assets/blog-images/Star 5.svg" alt="" />
                  </div>
                  <div>
                    <img src="assets/blog-images/Star 5.svg" alt="" />
                  </div>
                  <div>
                    <img src="assets/blog-images/Star 5.svg" alt="" />
                  </div>
                  <div>
                    <img src="assets/blog-images/Star 8.svg" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="add-width-again">
            <div class="card add-color">
              <div class="px-3 my-3">
                <img
                  src="assets/blog-images/Rectangle 534.svg"
                  class="add-img-width img-fluid"
                  alt="e no dey here"
                />

                <h2 class="card-title">Chicken</h2>

                <div class="card-text d-flex align-items-center mb-3 gap-2">
                  <div>
                    <img src="assets/blog-images/Ellipse 54.svg" alt="" />
                  </div>
                  <div class="change-font">Bambam</div>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                  <div>
                    <img src="assets/blog-images/Star 5.svg" alt="" />
                  </div>
                  <div>
                    <img src="assets/blog-images/Star 5.svg" alt="" />
                  </div>
                  <div>
                    <img src="assets/blog-images/Star 5.svg" alt="" />
                  </div>
                  <div>
                    <img src="assets/blog-images/Star 8.svg" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="add-width-again">
            <div class="card add-color">
              <div class="px-3 my-3">
                <img
                  src="assets/blog-images/Rectangle 534.svg"
                  class="add-img-width img-fluid"
                  alt="e no dey here"
                />

                <h2 class="card-title">Chicken</h2>

                <div class="card-text d-flex align-items-center mb-3 gap-2">
                  <div>
                    <img src="assets/blog-images/Ellipse 54.svg" alt="" />
                  </div>
                  <div class="change-font">Bambam</div>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                  <div>
                    <img src="assets/blog-images/Star 5.svg" alt="" />
                  </div>
                  <div>
                    <img src="assets/blog-images/Star 5.svg" alt="" />
                  </div>
                  <div>
                    <img src="assets/blog-images/Star 5.svg" alt="" />
                  </div>
                  <div>
                    <img src="assets/blog-images/Star 8.svg" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <h3 class="my-4 mx-5 px-5 fs-sm-4 fs-md-4 fs-lg-2 font-title">
          Add your comment
        </h3>
      </div>
      <div class="container-fluid my-5">
        <div class="text-center mx-auto">
          <h3 class="font-1">What do you think?</h3>

          <p class="font-2">23 Responses</p>
        </div>

        <div>
          <div class="d-flex justify-content-center gap-5">
            <mat-icon class="custom-icon">sentiment_dissatisfied</mat-icon>
            <mat-icon class="custom-icon">thumb_up</mat-icon>
            <mat-icon class="custom-icon"> sentiment_very_satisfied</mat-icon>
          </div>
        </div>
        <div
          class="d-flex gap-4 justify-content-center align-items-center my-5 move-div-left"
        >
          <div class="">
            <p class="add-comment">0 Comment</p>
          </div>
          <div>
            <p class="add-comment">Bambam</p>
          </div>
        </div>
        <div class="d-flex align-items-center gap-2 p-4 favourite">
          <div>
            <mat-icon class="custom-icon-2">favorite</mat-icon>
          </div>
          <div>
            <p class="font-2 mt-2">Favourite</p>
          </div>
          <div class="square-div">1</div>
        </div>

        <!-- fixing -->
        <section class="flex-section favourite">
          <div>
            <mat-icon class="custom-icon-3 squared-div">person</mat-icon>
          </div>

          <div class="flex-contact">
            <input type="text" placeholder="Start the discussion..." />
            <h6 class="login">LOG IN WITH</h6>
            <div class="signup-div">
              <div class="div-1">
                <h6 class="signup-text login-1">OR SIGN UP WITH DISQUS ?</h6>
              </div>

              <div class="flex-2">
                <div class="social-imgs">
                  <div
                    class="circle-div d-flex align-items-center justify-content-center gap-5"
                  >
                    <img
                      src="assets/blog-images/Vector (7).svg"
                      alt=""
                      class="reduce-size"
                    />
                  </div>

                  <div
                    class="circle-div-1 d-flex align-items-center justify-content-center"
                  >
                    <img
                      src="assets/blog-images/Vector (8).svg"
                      alt=""
                      class="reduce-size"
                    />
                  </div>
                  <div
                    class="circle-div-2 d-flex align-items-center justify-content-center"
                  >
                    <img
                      src="assets/blog-images/Vector (9).svg"
                      alt=""
                      class="reduce-size"
                    />
                  </div>
                </div>
                <input type="text" placeholder="Name" />
              </div>
            </div>
          </div>
        </section>

        <!-- End Fixing-->
      </div>
      <br />
      <br />
      <div class="text-center mx-auto">
        <p class="comment">Be the first to comment.</p>
      </div>
      <br />
      <br />
      <hr />
      <!-- // START HEREEEEE -->

      <div
        class="d-flex justify-content-center align-items-center foots mt-2 gap-1"
      >
        <div class="d-flex gap-1">
          <mat-icon class="custom-footer-icon">mail</mat-icon>
          <p class="mat footer-font">Subscribe</p>
          <div></div>
        </div>
        <div class="d-flex gap-1">
          <div
            class="circled-div-3 d-flex align-items-center justify-content-center mats text-white"
          >
            D
          </div>
          <div>
            <p class="mat footer-font">Add Disqus to your site</p>
          </div>
        </div>
        <div class="d-flex">
          <mat-icon class="custom-footer-icon">warning</mat-icon>
          <div>
            <p class="mat footer-font">Do Not Sell My Data</p>
          </div>
        </div>
      </div>
      <p class="disqus">DISQUS</p>
      <div class="footBg">
        <hr class="mt-4" />

        <section class="newsFooter d-flex">
          <div>
            <p>NEWSLETTER</p>
            <span>Sign up to receive email updates on new recipes</span>
          </div>
          <div>
            <input type="text" placeholder="Your email address" />
            <button type="button">SUBSCRIBE</button>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
