            <div class="row">
              <p>LOG IN WITH</p>
            </div>
            <div class="container-fluid">
              <!-- disqus-margin -->
              <div class="d-flex gap-3 disqus-margin-2">
                <div
                  class="circle-div d-flex align-items-center justify-content-center"
                >
                  <img
                    src="assets/blog-images/Vector (7).svg"
                    alt=""
                    class="reduce-size"
                  />
                </div>
                <div
                  class="circle-div-1 d-flex align-items-center justify-content-center"
                >
                  <img
                    src="assets/blog-images/Vector (8).svg"
                    alt=""
                    class="reduce-size"
                  />
                </div>
                <div
                  class="circle-div-2 d-flex align-items-center justify-content-center"
                >
                  <img
                    src="assets/blog-images/Vector (9).svg"
                    alt=""
                    class="reduce-size"
                  />
                </div>
                <div class="row">
                  <div class="column input">
                    <input type="text" class="input-text" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <br />
      <div class="text-center mx-auto">
        <p>Be the first to comment.</p>
      </div>
      <br />
      <br />
      <hr />
      <div class="d-flex align-items-center gap-4">
        <div class="d-flex justify-content-center align-items-center">
          <div>
            <mat-icon>mail</mat-icon>
          </div>
          <div>
            <p>Subscribe</p>
          </div>
        </div>
        <div class="d-flex">
          <div
            class="circled-div-3 d-flex align-items-center justify-content-center"
          >
            D
          </div>
          <div>
            <p>Add Disqus to your site</p>
          </div>
        </div>
        <div class="d-flex">
          <div>
            <mat-icon>warning</mat-icon>
          </div>
          <div>
            <p>Do Not Sell My Data</p>
          </div>
        </div>