<app-navbar [backgroundColor]="'#000'" [textColor]="'#FFF'"></app-navbar>
<app-title-block
  [height]="100"
  [title]="'Blogs'"
  [breadcrumbs]="[{ label: 'Home', link: '/layouts/home' }, { label: 'Blogs' }]"
></app-title-block>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div *ngFor="let blog of blogsData" class="blog-item">
        <div class="flex-start">
          <div
            class="blog-meal d-flex justify-content-between align-items-center row mb-4"
          >
            <div class="row">
              <div class="meal-img pe-2 col-5">
                <img
                  [src]="blog.image"
                  alt=""
                  class="img-fluid main-img w-100 h-100"
                />
              </div>
              <div class="meal-details col-7">
                <h4 class="mb-3 make-your-own fs-sm-6 fs-md-4 fs-lg-2">
                  {{ blog.title }}
                </h4>
                <div class="meal-details-dates d-flex mb-2">
                  <div class="detail d-flex pe-2 align-items-center">
                    <img
                      src="assets/blog-images/ant-design_eye-filled.svg"
                      alt="design"
                      class="icon"
                    />
                    <span class="fs">{{ blog.views }}</span>
                  </div>
                  <div class="detail d-flex align-items-center">
                    <img
                      src="assets/blog-images/bx_bx-time-five.svg"
                      alt=""
                      class="icon"
                    />
                    <span class="fs">{{ blog.time }}</span>
                  </div>
                </div>
                <p class="fs-sm-6 make-small">{{ blog.instruction }}</p>
                <div class="button-div">
                  <!-- <router-link> </router-link> -->
                  <p  (click)="navigateToBlog()" class="read-more" >READ MORE</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="container-fluid d-flex justify-content-center align-items-center mb-4 move-right-div"
      >
        <div class="circle">1</div>
        <div class="circle-1">2</div>
        <div class="circle-1 hide-div d-none d-md-block"></div>
      </div>
    </div>

    <div class="col-md-4 most-visited-blogs big-screen px-5">
      <h4 class="visited-blogs">Most visited Blogs</h4>
      <p class="blog-item" *ngFor="let visitedBlog of visitedBlogs">
        {{ visitedBlog }}
      </p>
    </div>

    <div class="col-md-4 most-visited-blogs small-screen">
      <h4 class="visited-blogs">Blogs</h4>
      <p class="blog-item-border" *ngFor="let visitedBlog of visitedBlogs">
        {{ visitedBlog }}
      </p>
    </div>
  </div>
</div>

<app-socials></app-socials>
<app-footer></app-footer>
