<header>
 <div class="row">
  <div class="col-md-3 col-sm-3 col-3">
   <div class="logo">
    <img src="assets/images/logo.svg" width="54px" height="54px" alt="">
    <span class="mx-2">Recipe</span>
    <p class="man">Mania</p>
   </div>
  </div>
  <div class="col-md-9 col-sm-9 col-9 text-end">
   <div class="menu">
    <ul>
     <li>Home</li>
     <li>
      <select>
        <option>Categories</option>
        <option></option>
        <option></option>
      </select>
    </li>
     <li>Recipes</li>
     <li>Blogs</li>
     <li>Contact Us</li>
     <li>Login / Register</li>
    </ul>
   </div>
  </div>
 </div>
</header>