@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

header {
 cursor: pointer;
 /* padding: 8px 0px; */
 background-color: #231e1e;
 overflow-x: hidden;
 font-family: 'Montserrat', sans-serif;
}


.logo{
 margin-left: 50px;
 font-family: 'Nunito Sans', sans-serif;
}

.logo span{
 color: #fff;
 font-size: 30px;
 font-weight: 700;
}

.man{
 color: #fda47a;
 margin-left: 63px;
 margin-top: -25px;
 font-size: 20px;
 font-weight: 700;

}

.menu{
 margin-top: 18px;
 margin-right: 50px;
}

.menu ul {
 padding: 0;
 margin: 0;
}

.menu ul li {
 list-style-type: none;
 color: #fff;
 display: inline-block;
 font-size: 12px;
 margin-left: 25px;
 font-weight: 600;
}

.menu ul li:hover {
 color: #FDA47A;
 cursor: pointer;
 transition: 0.4s ease-in-out;
}

.menu select{
 border: none;
 cursor: pointer;
 background-color: #231e1e;
 color: #fff;
 font-size: 12px;
 font-weight: 600;
}


.menu select:hover {
 color: #FDA47A;
 transition: 0.4s ease-in-out;
}


/* .menu select option {
 background-color: #000;
 color: #fff;
} */

 
