/* Nav Section */
nav ul{
    font-family: 'Montserrat';
    font-size: 0.875rem;
}

nav ul li{
    cursor: pointer;
}

.brand-logo{
    height: 50px;
    width: 54px;
}

.logo-name{
    font-family: 'Nunito';
}

.logo-name-recipe{
    color: #FDA47A;
}

/* Hamburger */
.hamburger{
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.white{
    background: #fff;
}

.orange{
    background: #FDA47A;
}


.profile-dp {
    width: 35px;
    height: 35px;
}
