<nav class="navbar navbar-expand-lg">
  <div class="orange-bgd">
    <img class="d-none d-lg-block h-50" src="../../assets/images/orange-background.png" alt="background">
  </div>

  <div class="container my-2">
    <a class="navbar-brand d-flex" href="#">
      <img  class="brand-logo pe-2" src="../../assets/images/recipe_logo.png">
      <div class=" d-flex flex-column p-0 logo-name fw-bold">
        <span class="fs-3 logo-name-recipe p-0">Recipe</span>
        <p class="fs-5 p-0">Mania</p>
      </div>
    </a>

    <div class="hamburger container d-flex align-items-center justify-content-between d-lg-none fw-bold">
      <p class="mt-3">MENU</p>
      <button (click) = "changeBackground()" class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="nav-menu collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fw-bold">
        <li class="nav-item pe-2">
          <a class="nav-link" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item pe-2">
          <a class="nav-link" aria-current="page" href="#">Categories</a>
        </li>
        <li class="nav-item pe-2">
          <a class="nav-link" aria-current="page" href="#">Recipes</a>
        </li>
        <li class="nav-item pe-2">
          <a class="nav-link" aria-current="page" href="#">Blogs</a>
        </li>
        <li class="nav-item pe-2">
          <a class="nav-link" aria-current="page" href="#">Contact Us</a>
        </li>
        <li (click)="loginModaltoggle(true)" class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Login/Register</a>
        </li>
      </ul>
    </div>
  </div>

  
</nav>

<app-modal [isOpen]="loginModalOpen" (isClose)="loginModaltoggle(false)">
  <app-login></app-login>
</app-modal>

<div class="container hero my-2 position-relative">
  <div class="orange-bgd">
    <img class="d-lg-none h-50" src="/assets/images/orange-background.png">
  </div>
  <div class="row">
    <div class="col-5 fw-bold fs-1">
      <!-- <p class="hero-text"> Discover the best<br> recipes with us</p> -->
      <div class="hero-text">
        <p class="pb-3">Discover the best</p>
        <p>recipes with us</p>
      </div>
    </div>
    <div class="col-7 pe-5">
      <img class="img-fluid" src="/assets/images/pot_of_vegies.png">
    </div>
  </div>
</div>

<!-- Browse Section -->
<section class="container browse">
  <div class="row browse-all-nav">
    <div class="col-12 col-lg-6 fs-4 fw-bold">
      <span>Browse Our Latest</span>
      <p class="primary-color">Recipe</p>

    </div>
    <div class="col-12 col-lg-6">
      <div class="see-all-button ms-lg-auto d-flex align-items-center justify-content-between">
        <p class="fs-4 ps-3 mt-2">See All</p>
        <div class="arrow-container">
          <!-- <mat-icon>keyboard_arrow_right</mat-icon> -->
        </div>
      </div>

    </div>

  </div>
  <div class="row gy-5 browse-recipes my-3">
    <div class="col-md-6 col-lg-4" *ngFor="let recipe of recipes">
      <ul class="recipe-container text-center mx-auto py-3 ps-3">
        <li><img class="img-fluid" src="assets/images/{{recipe.img}}"></li>
        <li class="fs-3">{{recipe.recipe_name}}</li>
        <li class="d-flex align-items-center ps-5">
          <img src= "assets/images/pfp.png">
          <p class="ps-3">{{recipe.user_name}}</p>
        </li>
        <li class="ratings"></li>
      </ul>
    </div>

    

  </div>
</section>

<!-- Popular Recipe -->
<section class="container popular-recipe mt-5">
  <p class="fs-4 fw-bold">Most Popular <span class="primary-color">Recipe</span></p>
  <div class="row gy-5">
    <div class="col-12 col-lg-6" *ngFor="let pop of pop_recipe">
      <ul class="d-flex ms-5 list-unstyled">
        <li><img class="img-fluid" src="assets/images/popular_recipes/{{pop.img}}" ></li>
        <li>
          <div class="ps-5">
            <p class="fs-3">{{pop.recipe_name}}</p>
            <p class="fs-4 primary-color">View Recipes</p>
          </div>
        </li>
      </ul>
    </div>  
  </div>
</section>

<!-- Popular Authors -->
<section class="container my-5">
  <p class="fs-4 fw-bold">Popular <span class="primary-color">Authors</span></p>
  <div class="row">
    <div class="col-12 col-md-4" *ngFor="let author of authors">
      <ul class="author-container text-center mx-auto pt-2 pb-4 ps-3 list-unstyled">
        <li><img class="w-75 img-fluid" src="assets/images/authors/{{author.image}}"></li>
        <li><p class="pt-2 fw-bold fs-4">{{author.author_name}}</p></li>
        <li class="ratings"></li>   
      </ul>
    </div>
    </div>
</section>

<!-- Popular Authors Second Idea -->
<!-- <section class="container mt-5">
  <p class="fs-4 fw-bold">Popular <span class="primary-color">Authors</span></p>
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="author-container-2 text-center mx-auto pt-2 pb-4 ps-3">
        <img class="w-75 img-fluid" src="assets/images/mike.png">
        <span class="d-flex flex-column pt-3">
          <p class="fw-bold">Mike John</p>
          <div class="ratings"></div>
        </span>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="author-container-2 text-center mx-auto pt-2 pb-4 ps-3">
        <img class="w-75 img-fluid" src="assets/images/emmanuel.png">
        <span class="d-flex flex-column pt-3">
          <p class="fw-bold">Emmanuel Emma</p>
          <div class="ratings"></div>
        </span>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="author-container-2 text-center mx-auto pt-2 pb-4 ps-3">
        <img class="w-75 img-fluid" src="assets/images/sarah.png">
        <span class="d-flex flex-column pt-3">
          <p class="fw-bold">Sarah John</p>
          <div class="ratings"></div>
        </span>
      </div>
    </div>
    </div>
</section> -->

<!-- Category Blog -->
<section class="container category-blog">
  <div class="row">
    <div class="col-12 col-md-6">
      <p class="fs-3 fw-bold">Categories</p>
      <div class="row category-block w-100 w-lg-50">
        <div class="col-4 text-center category-item primary-color primary-background">

        </div>
      </div>

    </div>
    <div class="col-12 col-md-6 ps-md-5 blog">
      <p class="fs-3 fw-bold">Blog</p>
      <ul class="list-unstyled fs-4">
        <li>Make your own bread</li>
        <li class = "vert-divider"></li>
        <li>How to decorate cookies</li>
        <li class = "vert-divider"></li>
        <li>How to decorate cookies</li>
        <li class = "vert-divider"></li>
        <li>How to make sushies</li>
        <li class = "vert-divider"></li>
        <li>How to decorate cookies</li>
        <li class = "vert-divider"></li>
        <li>How to decorate cookies</li>
        <li class = "vert-divider"></li>
        <li>Make a party</li>
        <li class = "vert-divider"></li>
        <li>How to be healthy</li>
        <li class = "vert-divider"></li>
        <li>How to make cup cake</li>
        <li class = "vert-divider"></li>
      </ul>
    </div>
    
  </div>

</section>