@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.container{
 width: 650.67px;
 height: fit-content;
 font-size: 11px;
 color: #fff;
 /* word-wrap: break-word; */
 font-weight: 200;
 font-family: 'Montserrat', sans-serif;
 background-color: #231e1e; 
}

img{
 width: 15px;
 height: 15px;
 margin-right: 15px;
}

.col {
 border-bottom: 0.87px rgba(196, 196, 196, 0.21) solid;
 padding: 10px;
 transition: transform 0.3s ease-in-out; 
}

.col:hover{
 transform: scale(1.2);
}



@media (max-width: 900px) {
 .col{
  color: #000;
  display: flex;
  align-items: center;
  font-size: 7px;
  padding: 0;
  
}

.col img{
  margin: 0;
  width: 8px;
  margin-right: 7px;
}

.row{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: right;
  width: 100%;
  margin-left: 0px;
}

.container{
width: 100%;
padding: 0;
background-color: #EBE3E3B2;
}
 }

