<div [style.backgroundColor]="backgroundColor" class="container">
  <div class="row">
    <div class="col" *ngFor="let items of col1">
      <img [src]="items.images" alt="" />
      {{ items.name }}
    </div>
  </div>
  <div class="row">
    <div class="col" *ngFor="let items of col2">
      <img [src]="items.images" alt="" />
      {{ items.name }}
    </div>
  </div>
  <div class="row">
    <div class="col" *ngFor="let items of col3">
      <img [src]="items.images" alt="" />
      {{ items.name }}
    </div>
  </div>
  <div class="row">
    <div class="col" *ngFor="let items of col4">
      <img [src]="items.images" alt="" />
      {{ items.name }}
    </div>
  </div>

  <div class="row">
    <div class="col" *ngFor="let items of col5">
      <img [src]="items.images" alt="" />
      {{ items.name }}
    </div>
  </div>

  <div class="row">
    <div class="col" *ngFor="let items of col6">
      <img [src]="items.images" alt="" />
      {{ items.name }}
    </div>
  </div>
</div>
