<nav class="navbar navbar-contain navbar-expand-lg">
  <div class="container-fluid">
    <div class="d-flex move-right-again">
      <img src="assets/blog-images/Group 138.svg" class="img-fluid" alt="" />
      <span class="move-right">
        <h3 class="recipe">Recipe</h3>
        <h4 class="mania">Mania</h4>
      </span>
    </div>

    <div
      class="hamburger d-flex w-100 justify-content-between d-lg-none align-items-center px-3"
    >
      <p class="title">Menu</p>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 make-margin text-white">
        <li class="nav-item me-2">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item me-2">
          <span class="embed">
            <a class="nav-link" href="#">Categories</a>
            <img src="assets/blog-images/Vector.svg" alt="" class="img-right" />
          </span>
        </li>
        <li class="nav-item me-2">
          <a class="nav-link" href="#">Recipes</a>
        </li>
        <li class="nav-item me-2">
          <a class="nav-link" href="#">Blogs</a>
        </li>
        <li class="nav-item me-2">
          <a class="nav-link pad-this" href="#">Contact Us</a>
        </li>
        <li class="nav-item me-2">
          <a class="nav-link" href="#">Login/Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- code -->
<div class="peach-div custom-width">
  <div class="container-lg">
    <div class="d-flex justify-content-between blogs">
      <div class="">
        <h4 class="another-margin">Blogs</h4>
      </div>
      <div class="d-flex align-items-center">
        <h6 class="add-margin pe-2">Home</h6>
        <img
          src="assets/blog-images/Polygon 5.png"
          alt="there is no polygon here ooooo"
          class="img-right pe-4 mb-1"
        />
        <h6 class="margin">Blogs</h6>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
 z
  <div class="d-flex justify-content-between">
    <div>
      <div>
        <div
          class="blog-meal d-flex justify-content-between align-items-center row mb-4"
        >
          <div class="meal-img pe-2 col-5">
            <img
              src="assets/blog-images/img-1.png"
              alt=""
              class="img-fluid main-img w-100 h-100"
            />
          </div>
          <div class="meal-details col-7">
            <h4 class="mb-3 make-your-own fs-sm-6 fs-md-4 fs-lg-2">
              Make your Own Chicken
            </h4>
            <div class="meal-details-dates d-flex mb-2">
              <div class="detail d-flex pe-2 align-items-center">
                <img
                  src="assets/blog-images/ant-design_eye-filled.svg"
                  alt="design"
                  class="icon"
                />
                <span class="fs"> 150 </span>
              </div>

              <div class="detail d-flex align-items-center">
                <img
                  src="assets/blog-images/bx_bx-time-five.svg"
                  alt=""
                  class="icon"
                />
                <span class="fs"> Last Update: Feb 07, 2022 </span>
              </div>
            </div>
            <p class="fs-6">
              You should follow this steps carefully and be sure doing it the
              right way.
            </p>
            <div class="main-btn p-2">READ MORE</div>
          </div>
        </div>
      </div>

      <div>
        <div
          class="blog-meal d-flex justify-content-between align-items-center row mb-4"
        >
          <div class="meal-img pe-2 col-5">
            <img
              src="assets/blog-images/Rectangle 354.png"
              alt=""
              class="img-fluid main-img w-100 h-100"
            />
          </div>
          <div class="meal-details col-7">
            <h4 class="mb-3 make-your-own">Make your Own Chicken</h4>
            <div class="meal-details-dates d-flex mb-2">
              <div class="detail d-flex pe-2 align-items-center">
                <img
                  src="assets/blog-images/ant-design_eye-filled.svg"
                  alt="design"
                  class="icon"
                />
                <span class="fs"> 150 </span>
              </div>

              <div class="detail d-flex align-items-center">
                <img
                  src="assets/blog-images/bx_bx-time-five.svg"
                  alt=""
                  class="icon"
                />
                <span class="fs"> Last Update: Feb 07, 2022 </span>
              </div>
            </div>
            <p class="fs-6">
              You should follow this steps carefully and be sure doing it the
              right way.
            </p>
            <div class="main-btn p-2">READ MORE</div>
          </div>
        </div>
      </div>
      <div class="">
        <div
          class="blog-meal d-flex justify-content-between align-items-center row mb-4"
        >
          <div class="meal-img pe-2 col-5">
            <img
              src="assets/blog-images/Rectangle 332.svg"
              alt=""
              class="img-fluid main-img w-100 h-100"
            />
          </div>
          <div class="meal-details col-7">
            <h4 class="mb-3 make-your-own">Make your Own Chicken</h4>
            <div class="meal-details-dates d-flex mb-2">
              <div class="detail d-flex pe-2 align-items-center">
                <img
                  src="assets/blog-images/ant-design_eye-filled.svg"
                  alt="design"
                  class="icon"
                />
                <span class="fs"> 150 </span>
              </div>

              <div class="detail d-flex align-items-center">
                <img
                  src="assets/blog-images/bx_bx-time-five.svg"
                  alt=""
                  class="icon"
                />
                <span class="fs"> Last Update: Feb 07, 2022 </span>
              </div>
            </div>
            <p class="fs-6">
              You should follow this steps carefully and be sure doing it the
              right way.
            </p>
            <div class="main-btn p-2">READ MORE</div>
          </div>
        </div>
      </div>
      <div class="">
        <div
          class="blog-meal d-flex justify-content-between align-items-center row mb-4"
        >
          <div class="meal-img pe-2 col-5">
            <img
              src="assets/blog-images/Rectangle 356.svg"
              alt=""
              class="img-fluid main-img w-100 h-100"
            />
          </div>
          <div class="meal-details col-7">
            <h4 class="mb-3 make-your-own">Make your Own Chicken</h4>
            <div class="meal-details-dates d-flex mb-2">
              <div class="detail d-flex pe-2 align-items-center">
                <img
                  src="assets/blog-images/ant-design_eye-filled.svg"
                  alt="design"
                  class="icon"
                />
                <span class="fs"> 150 </span>
              </div>

              <div class="detail d-flex align-items-center">
                <img
                  src="assets/blog-images/bx_bx-time-five.svg"
                  alt=""
                  class="icon"
                />
                <span class="fs"> Last Update: Feb 07, 2022 </span>
              </div>
            </div>
            <p class="fs-6">
              You should follow this steps carefully and be sure doing it the
              right way.
            </p>
            <div class="main-btn p-2">READ MORE</div>
          </div>
        </div>
      </div>
      <div class="">
        <div
          class="blog-meal d-flex justify-content-between align-items-center row mb-4"
        >
          <div class="meal-img pe-2 col-5">
            <img
              src="assets/blog-images/Rectangle 335.svg"
              alt=""
              class="img-fluid main-img w-100 h-100"
            />
          </div>
          <div class="meal-details col-7">
            <h4 class="mb-3 make-your-own">Make your Own Chicken</h4>
            <div class="meal-details-dates d-flex mb-2">
              <div class="detail d-flex pe-2 align-items-center">
                <img
                  src="assets/blog-images/ant-design_eye-filled.svg"
                  alt="design"
                  class="icon"
                />
                <span class="fs"> 150 </span>
              </div>

              <div class="detail d-flex align-items-center">
                <img
                  src="assets/blog-images/bx_bx-time-five.svg"
                  alt=""
                  class="icon"
                />
                <span class="fs"> Last Update: Feb 07, 2022 </span>
              </div>
            </div>
            <p class="fs-6">
              You should follow this steps carefully and be sure doing it the
              right way.
            </p>
            <div class="main-btn p-2">READ MORE</div>
          </div>
        </div>
      </div>
      <div class="">
        <div
          class="blog-meal d-flex justify-content-between align-items-center row mb-4"
        >
          <div class="meal-img pe-2 col-5">
            <img
              src="assets/blog-images/Rectangle 338.svg"
              alt=""
              class="img-fluid main-img w-100 h-100"
            />
          </div>
          <div class="meal-details col-7">
            <h4 class="mb-3 make-your-own">Make your Own Chicken</h4>
            <div class="meal-details-dates d-flex mb-2">
              <div class="detail d-flex pe-2 align-items-center">
                <img
                  src="assets/blog-images/ant-design_eye-filled.svg"
                  alt="design"
                  class="icon"
                />
                <span class="fs"> 150 </span>
              </div>

              <div class="detail d-flex align-items-center">
                <img
                  src="assets/blog-images/bx_bx-time-five.svg"
                  alt=""
                  class="icon"
                />
                <span class="fs"> Last Update: Feb 07, 2022 </span>
              </div>
            </div>
            <p class="fs-6">
              You should follow this steps carefully and be sure doing it the
              right way.
            </p>
            <div class="main-btn p-2">READ MORE</div>
          </div>
        </div>
      </div>
      <div class=""></div>
    </div>
    <div>
      <div class="most-visited-blogs">
        <h4 class="visited-blogs">Most visited Blogs</h4>

        <p class="blog-item">Make your own bread</p>
        <p class="blog-item">How to decorate cookies</p>
        <p class="blog-item">How to decorate cookies</p>
        <p class="blog-item">How to make sushi</p>
        <p class="blog-item">How to decorate cookies</p>
        <p class="blog-item">How to decorate cookies</p>
        <p class="blog-item">Make a party</p>
        <p class="blog-item">How to be healthy</p>
        <p class="blog-item">How to make cupcake</p>
      </div>
    </div>

  </div>
</div> -->
<!-- Emeka Code -->

<div class="container">
  <div class="d-flex justify-content-between mt-3">
    <!-- new code -->
    <div class="">
      <div class="">
        <div
          class="blog-meal d-flex justify-content-between align-items-center row mb-4"
        >
          <div class="meal-img pe-2 col-5">
            <img
              src="assets/blog-images/img-1.png"
              alt=""
              class="img-fluid main-img w-100 h-100"
            />
          </div>
          <div class="meal-details col-7">
            <h4 class="mb-3 make-your-own fs-sm-6 fs-md-4 fs-lg-2">
              Make your Own Chicken
            </h4>
            <div class="meal-details-dates d-flex mb-2">
              <div class="detail d-flex pe-2 align-items-center">
                <img
                  src="assets/blog-images/ant-design_eye-filled.svg"
                  alt="design"
                  class="icon"
                />
                <span class="fs"> 150 </span>
              </div>

              <div class="detail d-flex align-items-center">
                <img
                  src="assets/blog-images/bx_bx-time-five.svg"
                  alt=""
                  class="icon"
                />
                <span class="fs"> Last Update: Feb 07, 2022 </span>
              </div>
            </div>
            <p class="fs-6">
              You should follow this steps carefully and be sure doing it the
              right way.
            </p>
            <div class="main-btn p-2">READ MORE</div>
          </div>
        </div>
      </div>
      <div class="">
        <div
          class="blog-meal d-flex justify-content-between align-items-center row mb-4"
        >
          <div class="meal-img pe-2 col-5">
            <img
              src="assets/blog-images/img-1.png"
              alt=""
              class="img-fluid main-img w-100 h-100"
            />
          </div>
          <div class="meal-details col-7">
            <h4 class="mb-3 make-your-own fs-sm-6 fs-md-4 fs-lg-2">
              Make your Own Chicken
            </h4>
            <div class="meal-details-dates d-flex mb-2">
              <div class="detail d-flex pe-2 align-items-center">
                <img
                  src="assets/blog-images/ant-design_eye-filled.svg"
                  alt="design"
                  class="icon"
                />
                <span class="fs"> 150 </span>
              </div>

              <div class="detail d-flex align-items-center">
                <img
                  src="assets/blog-images/bx_bx-time-five.svg"
                  alt=""
                  class="icon"
                />
                <span class="fs"> Last Update: Feb 07, 2022 </span>
              </div>
            </div>
            <p class="fs-6">
              You should follow this steps carefully and be sure doing it the
              right way.
            </p>
            <div class="main-btn p-2">READ MORE</div>
          </div>
        </div>
      </div>
      <div class="">
        <div
          class="blog-meal d-flex justify-content-between align-items-center row mb-4"
        >
          <div class="meal-img pe-2 col-5">
            <img
              src="assets/blog-images/img-1.png"
              alt=""
              class="img-fluid main-img w-100 h-100"
            />
          </div>
          <div class="meal-details col-7">
            <h4 class="mb-3 make-your-own fs-sm-6 fs-md-4 fs-lg-2">
              Make your Own Chicken
            </h4>
            <div class="meal-details-dates d-flex mb-2">
              <div class="detail d-flex pe-2 align-items-center">
                <img
                  src="assets/blog-images/ant-design_eye-filled.svg"
                  alt="design"
                  class="icon"
                />
                <span class="fs"> 150 </span>
              </div>

              <div class="detail d-flex align-items-center">
                <img
                  src="assets/blog-images/bx_bx-time-five.svg"
                  alt=""
                  class="icon"
                />
                <span class="fs"> Last Update: Feb 07, 2022 </span>
              </div>
            </div>
            <p class="fs-6">
              You should follow this steps carefully and be sure doing it the
              right way.
            </p>
            <div class="main-btn p-2">READ MORE</div>
          </div>
        </div>
      </div>
      <div class="">
        <div
          class="blog-meal d-flex justify-content-between align-items-center row mb-4"
        >
          <div class="meal-img pe-2 col-5">
            <img
              src="assets/blog-images/img-1.png"
              alt=""
              class="img-fluid main-img w-100 h-100"
            />
          </div>
          <div class="meal-details col-7">
            <h4 class="mb-3 make-your-own fs-sm-6 fs-md-4 fs-lg-2">
              Make your Own Chicken
            </h4>
            <div class="meal-details-dates d-flex mb-2">
              <div class="detail d-flex pe-2 align-items-center">
                <img
                  src="assets/blog-images/ant-design_eye-filled.svg"
                  alt="design"
                  class="icon"
                />
                <span class="fs"> 150 </span>
              </div>

              <div class="detail d-flex align-items-center">
                <img
                  src="assets/blog-images/bx_bx-time-five.svg"
                  alt=""
                  class="icon"
                />
                <span class="fs"> Last Update: Feb 07, 2022 </span>
              </div>
            </div>
            <p class="fs-6">
              You should follow this steps carefully and be sure doing it the
              right way.
            </p>
            <div class="main-btn p-2">READ MORE</div>
          </div>
        </div>
      </div>
      <div class="">
        <div
          class="blog-meal d-flex justify-content-between align-items-center row mb-4"
        >
          <div class="meal-img pe-2 col-5">
            <img
              src="assets/blog-images/img-1.png"
              alt=""
              class="img-fluid main-img w-100 h-100"
            />
          </div>
          <div class="meal-details col-7">
            <h4 class="mb-3 make-your-own fs-sm-6 fs-md-4 fs-lg-2">
              Make your Own Chicken
            </h4>
            <div class="meal-details-dates d-flex mb-2">
              <div class="detail d-flex pe-2 align-items-center">
                <img
                  src="assets/blog-images/ant-design_eye-filled.svg"
                  alt="design"
                  class="icon"
                />
                <span class="fs"> 150 </span>
              </div>

              <div class="detail d-flex align-items-center">
                <img
                  src="assets/blog-images/bx_bx-time-five.svg"
                  alt=""
                  class="icon"
                />
                <span class="fs"> Last Update: Feb 07, 2022 </span>
              </div>
            </div>
            <p class="fs-6">
              You should follow this steps carefully and be sure doing it the
              right way.
            </p>
            <div class="main-btn p-2">READ MORE</div>
          </div>
        </div>
      </div>
      <div class="">
        <div
          class="blog-meal d-flex justify-content-between align-items-center row mb-4"
        >
          <div class="meal-img pe-2 col-5">
            <img
              src="assets/blog-images/img-1.png"
              alt=""
              class="img-fluid main-img w-100 h-100"
            />
          </div>
          <div class="meal-details col-7">
            <h4 class="mb-3 make-your-own fs-sm-6 fs-md-4 fs-lg-2">
              Make your Own Chicken
            </h4>
            <div class="meal-details-dates d-flex mb-2">
              <div class="detail d-flex pe-2 align-items-center">
                <img
                  src="assets/blog-images/ant-design_eye-filled.svg"
                  alt="design"
                  class="icon"
                />
                <span class="fs"> 150 </span>
              </div>

              <div class="detail d-flex align-items-center">
                <img
                  src="assets/blog-images/bx_bx-time-five.svg"
                  alt=""
                  class="icon"
                />
                <span class="fs"> Last Update: Feb 07, 2022 </span>
              </div>
            </div>
            <p class="fs-6">
              You should follow this steps carefully and be sure doing it the
              right way.
            </p>
            <div class="main-btn p-2">READ MORE</div>
          </div>
        </div>
      </div>
    </div>
    <div class="most-visited-blogs">
      <h4 class="visited-blogs">Most visited Blogs</h4>

      <p class="blog-item">Make your own bread</p>
      <p class="blog-item">How to decorate cookies</p>
      <p class="blog-item">How to decorate cookies</p>
      <p class="blog-item">How to make sushi</p>
      <p class="blog-item">How to decorate cookies</p>
      <p class="blog-item">How to decorate cookies</p>
      <p class="blog-item">Make a party</p>
      <p class="blog-item">How to be healthy</p>
      <p class="blog-item">How to make cupcake</p>
    </div>
    <!-- </div> -->
  </div>
</div>
